@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: #f1f4ff;
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}
html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #e7e7e7;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}
h2 {
  box-sizing: border-box;
  padding: 0;
  width: 100%;
  display: inline-block;
  font-size: 36px;
  line-height: 140%;
  margin-bottom: 1rem;
}
.FeaturesContentSection_featureContentSection
  .FeaturesContentSection_sectionSubtitle {
  font-size: 1rem;
  line-height: 150%;
  max-width: 640px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 32px;
}
.FeaturesContentSection_featureContentSection
  .FeaturesContentSection_sectionItems {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  gap: 56px;
  text-align: left;
  background-color: #fff;
  box-shadow: 0 3px 5px #dae0f7, 6px 30px 20px rgba(210, 231, 255, 0.2);
  border-radius: 8px;
  padding: 56px 80px;
  max-width: 1250px;
  margin: auto;
}

.yellow-btn {
  background-image: linear-gradient(279.45deg, #ffd317 7.13%, #ffb40d 92.87%),
    linear-gradient(279.45deg, #ffd317 7.13%, #ffb40d 92.87%);
  color: #000;
}
.dark-purple-btn,
.tali-btn,
.white-btn,
.yellow-btn {
  background-clip: padding-box, border-box;
  border-radius: 2rem;
  border: 1px solid transparent;
  background-origin: border-box;
  --tw-shadow: 0px 10px 20px rgba(136, 63, 133, 0.15);
  --tw-shadow-colored: 0px 10px 20px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.dark-purple-btn {
  background-image: linear-gradient(90deg, #261935, #261935),
    linear-gradient(275.77deg, #ffb40d 4.98%, #a25ecb 26.4%);
  color: #fff;
}

.dark-purple-btn:focus,
.dark-purple-btn:hover,
.tali-btn:focus,
.tali-btn:hover,
.white-btn:focus,
.white-btn:hover,
.yellow-btn:focus,
.yellow-btn:hover {
  --tw-translate-y: -0.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-shadow: 0px 1px 3px rgba(136, 63, 133, 0.7),
    0px 10px 40px rgba(136, 63, 133, 0.5);
  --tw-shadow-colored: 0px 1px 3px var(--tw-shadow-color),
    0px 10px 40px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.text-tali-btn {
  font-size: 0.875rem;
  line-height: 0.875rem;
  font-weight: 700;
}
.yellow-btn:hover {
  --tw-shadow: 0px 10px 40px 0px rgba(255, 180, 13, 0.7),
    0px 1px 3px 0px rgba(186, 123, 22, 0.5);
  --tw-shadow-colored: 0px 10px 40px 0px var(--tw-shadow-color),
    0px 1px 3px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.BenefitsOfTaliSection_benefitCard {
  background: #fff;
  box-shadow: 0 3px 5px #dae0f7, 6px 30px 20px rgba(210, 231, 255, 0.2);
  border-radius: 16px;
  padding: 40px;
  flex: 1;
}
.BenefitsOfTaliSection_benefitCard .BenefitsOfTaliSection_benefitTitle {
  font-weight: 600;
  font-size: 21px;
  line-height: 25px;
  text-transform: capitalize;
  color: #000;
  margin: 8px 0 32px;
}

.BenefitsOfTaliSection_benefitCard .BenefitsOfTaliSection_benefitText {
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  color: #000;
}
.WhereToStartSection_image {
  flex: 1;
  border-radius: 20px;
  -o-object-fit: cover;
  object-fit: cover;
  border: 12px solid #fff;
  box-shadow: 0 3px 5px #dae0f7, 6px 30px 20px rgba(210, 231, 255, 0.2);
}
.WhereToStartSection_advancedBtn {
  background: linear-gradient(270deg, #ffb30f 2.18%, #a25ecb 72.63%);
  color: #fff;
  width: 100%;
  display: inline-block;
  padding: 1px;
  border-radius: 100px;
  position: relative;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.white-btn {
  background-image: linear-gradient(90deg, #fff, #fff),
    linear-gradient(275.77deg, #ffb40d 4.98%, #a25ecb 26.4%);
  color: black;
}
.shadow-tali-uninstall-form {
  --tw-shadow: 0px 3px 5px #dae0f7, 6px 30px 20px rgba(210, 231, 255, 0.2);
  --tw-shadow-colored: 0px 3px 5px var(--tw-shadow-color),
    6px 30px 20px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.text-tali-purple {
  --tw-text-opacity: 1;
  color: rgb(126 79 135 / var(--tw-text-opacity));
}
.text-tali-black {
  --tw-text-opacity: 1;
  color: rgb(18 21 33 / var(--tw-text-opacity));
}
.text-tali-black-50 {
  --tw-text-opacity: 1;
  color: rgb(136 138 144 / var(--tw-text-opacity));
}
.bg-tali-lavendar-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(241 244 255 / var(--tw-bg-opacity));
}
.border-tali-black-25 {
  --tw-border-opacity: 1;
  border-color: rgb(196 196 199 / var(--tw-border-opacity));
}

.bg-tali-dark-purple {
  --tw-bg-opacity: 1;
  background-color: rgb(38 25 53 / var(--tw-bg-opacity));
}
.bg-tali-bg-glow-static {
  background-image: url(https://tali.ai/backgrounds/bg_glow_static.svg);
}
.bg-tali-black {
  --tw-bg-opacity: 1;
  background-color: rgb(18 21 33 / var(--tw-bg-opacity));
}
.text-tali-h2-mobile {
  font-size: 2.013rem;
  line-height: 2.813rem;
  letter-spacing: -0.03em;
  font-weight: 400;
}
.bg-tali-onyx {
  --tw-bg-opacity: 1;
  background-color: rgb(54 56 66 / var(--tw-bg-opacity));
}
.Footer_linksContainer {
  height: 316px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0.38;
}
.Footer_footerFooter {
  flex: 0.14;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 110px;
}
.Footer_copyrightContainer,
.Footer_wrapper {
  width: 89%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: start;
}
.Footer_footerColumn {
  display: grid;
  grid-gap: 12px;
}
.Footer_title {
  font-weight: 700;
}
.Text_darkParagraph {
  color: #e7e7e7;
}
.Text_paragraph2 {
  font-size: 14px;
}
.Footer_copyrightText {
  grid-column: 1/5;
}
.Footer_iconWrapper {
  background-color: #373737;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}
/*  */
.Navbar_header {
  width: "100%";
  position: sticky;
  top: 0;
  z-index: 100000;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Navbar_headerContainer {
  width: 89%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
}
.Navbar_menu {
  font-size: 14px;
  font-weight: 600;
  line-height: 155%;
  color: #fff;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 40px;
  align-items: center;
}
.Navbar_flexDMobile,
.Navbar_menuBar,
.Navbar_menuContainer {
  display: none;
}
.bg-tali-bg-glow-static {
  background-image: url(https://tali.ai/backgrounds/bg_glow_static.svg);
}
.bg-tali-black {
  --tw-bg-opacity: 1;
  background-color: rgb(18 21 33 / var(--tw-bg-opacity));
}
.Text_container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 720px;
}

.text-tali-black-25 {
  --tw-text-opacity: 1;
  color: rgb(196 196 199 / var(--tw-text-opacity));
}
.circle-gradient-number {
  border-radius: 50%;
  border: 2px solid transparent;
  background-image: linear-gradient(90deg, #f1f4ff, #f1f4ff),
    linear-gradient(275.77deg, #ffb40d 4.98%, #a25ecb 26.4%);
  background-clip: padding-box, border-box;
  background-origin: border-box;
}
